{{> head }}
    {{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Angular</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam voluptatum rerum eligendi, ratione laborum non earum velit consequatur optio dignissimos maxime iusto quas recusandae officiis consequuntur porro tempora corporis ut.</p>
    </div>

    <div class="col-4">
       <img src="assets/img/angular.svg" class="img-thumbnail" alt="">
    </div>

</div>
    {{> footer }}